.chatBox {
    display: flex;
    border-style: solid;
    border-color: #879797;
    margin: 12px;
    flex-direction: column;
    background-color: #3e6868;
    height: 70vh;
    overflow-y: scroll;
    border-width: 1px;
}