.messageBoxSender {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.messageBoxRecipient {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.messageBox {
    display: inline-block;
    border-style: solid;
    border-radius: 20px;
    min-width: 150px;
    max-width: 250px;
    padding-left: 15px;
    padding-right: 15px;
    word-wrap: break-word;
    text-align: left;
}