.chats {
    overflow: auto;
    min-height: 100%;
    width: 400px;

    background: #2E4F4F;
    border-bottom: 1px solid #000000;
    padding-top: 20px;
    overflow-y: auto;
}
.messagesContent {
    min-height: 100%;
    width: 100%;
    
    background: #2E4F4F;
    border: 1px solid #000000;
    padding-top: 20px;
}

.containerContainer {
    display: block;
    height: 100vh;
    background: #2E4F4F;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100%;
    background: #2E4F4F;
}
