.chats {
    min-height: 100%;
    width: 40%;

    background: #2E4F4F;
    border: 1px solid #000000;
    padding-top: 20px;
}
.messagesContent {
    min-height: 100%;
    width: 100%;
    
    background: #2E4F4F;
    border: 1px solid #000000;
    padding-top: 20px;
}

.container {
    display: flex;
   
}
